{erl_opts, [debug_info]}.
{deps, [
  {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.9"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}},
  {erocksdb, ".*", {git, "https://github.com/leo-project/erocksdb.git", {tag, "4.13.5"}}}
]}.

{relx, [{release, {aria, "0.1.0"},
         [aria,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
